.checkOut {

}

.StripeCheckout {
    padding: 2.5rem 5rem;
    border-radius: 1rem;
    background: #f0f2f0;
    opacity: 0.6;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    font-weight: bold;
    margin-top: 3rem;
    text-shadow: 2px 2px 15px black;

    &:hover {
      opacity: 1;
    }
}
