.comments {
  display: flex;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #434343,
    #131212
  ); 

  .displayComments {
    background: rgba(0, 0, 255, 0.5);
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 40vw;
    text-shadow: 2px 2px 5px black;

    h1 {
      font-weight: bold;
      font-size: 3rem;
      margin: 1rem;
      color: whitesmoke;
      text-align: center;
    }

    .comment {
      margin: 1rem;
      border-radius: 2rem;
      padding: 1rem;
      background: rgba(0, 0, 255, 0.5);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
      color: whitesmoke;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .author {
        font-weight: bold;
        font-size: 2rem;
        padding-right: 4rem;
      }

      .message {
        padding-right: 4rem;
        font-size: 1.5rem;
      }
      form {
        .deleteBtn {
          border-radius: 50%;
          width: 2.5rem;
          height: 2.5rem;
          padding: 0;
          margin: 0;
          border: 0;
          opacity: 0.6;
          transition: all 0.5s ease-in-out;

          &:hover {
            opacity: 1;
          }
          img {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }

  .newComment {
    text-shadow: 2px 2px 5px black;
    background: rgba(0, 0, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 4rem;
    margin-left: 4rem;
    border-radius: 1rem;
    height: 30rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);

    textarea {
      padding: .5rem;
      font-size: 1.5rem;
      border-radius: 1rem;
      width: 20rem;
      height: 15rem;
      resize: none;
      margin: 2rem 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    }

    button {
      background: whitesmoke;
      border-radius: 1rem;
      padding: 1rem;
      font-size: 1.5rem;
      text-shadow: 2px 2px 10px black;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
      transition: all 0.5s ease-in-out;
      margin-top: 2rem;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
