@import url('https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap');

.nav {
  
background: linear-gradient(to right, #3498dbb1, #2c3e50b5);

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;

  .logo {
    margin-left: 20px;
    border: 1px solid whitesmoke;
    width: 250px;
    height: 90px;
    
    border-radius: 2rem;
    opacity: .6;
    transition: all .5s ease-in-out;
    position: relative;
    

    &:hover{
      opacity: 1
    }

    
  }
  .name{
    font-family: 'Bungee Outline', cursive;
    position: absolute;
    left: 60px;
    top: 15px;
    text-shadow: 5px 5px 10px whitesmoke;
    color: rgb(8, 4, 46);
    font-size: 6rem;
    font-weight: bold;
    opacity: .8;
    z-index: 2;
  }

  .cart {
    width: 80px;
    height: 80px;
    padding: 10px;
    opacity: 0.7;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    div {
      margin: 0 2rem;
    }
  }
}
