@import url("https://fonts.googleapis.com/css?family=Bungee+Outline&display=swap");

.nav {
  background: linear-gradient(to right, #3498dba1, #2c3e50a7);
  z-index: 99;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  

  .logo {
    margin-left: 20px;
    border: 1px solid whitesmoke;
    width: 250px;
    height: 90px;
    border-radius: 2rem;
    opacity: 0.6;
    transition: all 0.5s ease-in-out;
    position: relative;

    &:hover {
      opacity: 1;
    }
  }
  .name {
    font-family: "Bungee Outline", cursive;
    position: absolute;
    left: 60px;
    top: 15px;
    text-shadow: 5px 5px 10px whitesmoke;
    color: rgb(8, 4, 46);
    font-size: 6rem;
    font-weight: bold;
    opacity: 0.8;
    z-index: 2;
  }

  .cart {
    width: 50px;
    height: 50px;

    opacity: .8;
    transition: all .5s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    a {
      color: whitesmoke;
      text-shadow: 2px 2px 5px black;
    }

    div {
      margin-right:1rem;
    }
  }
}
