section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 50rem;
    background: rgba(255, 255, 0, 0.235);
    align-items: center;
    justify-content: center;
}