.productCard {
  border: 3px solid white;
  border-radius: 10px;
  background: rgba(44, 62, 80, 0.2);
  width: 30rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;

  div {
    margin: 1rem 0;
  }
  &:hover {
    transform: scale(1.1, 1.1);
    opacity: 1;
  }

  .productImg {
    img {
      border-radius: 1rem;
      width: 29rem;
      height: 25rem;
    }
  }

  .productName {
    width: 29rem;
    height: 7rem;
    text-align: center;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
  }

  .productAuthor {
    color: whitesmoke;
    width: 20rem;
    height: 7rem;
    text-align: justify;
    text-shadow: 2px 2px 5px black;
    font-size: 1rem;
  }

  .productPrice {
    color: whitesmoke;
    width: 29rem;
    height: 7rem;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 5px black;
  }
}
