.allProductList {
  background: linear-gradient(10deg, rgba(61,59,59,1) 0%, rgba(180,195,207,1) 100%); 
  
  .searchBar {
    display: flex;
    justify-content: center;
    padding: 5rem 0;
  }

  .productList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }
}
