.productDetail {
  display: flex;
  height: 100vh;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #434343,
    #131212
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.5s;
  animation: fade 0.5s ease-in-out;

  .canvas {
    width: 80vw;
    height: calc(100vh - 60px);
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    canvas {
      display: block;
    }
  }

  .aside {
    background: rgba(54, 57, 60, 0.8);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 20vw;
    height: calc(100vh - 60px);
    text-align: center;
    margin-left: 0.5rem;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 5px black;

    .titleAsset {
      font-weight: bold;
      margin-bottom: 3rem
    }
    .photo {
      width: 15vw;
      border-radius: 1rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
      margin-bottom: 3rem
    }

    .descriptionAsset {
      height: 30vh;
      overflow: scroll;
      text-align: left;
    }

    .priceAsset {
      margin-bottom: 3rem;
      font-size: 4rem;
    }

    button {
      background: whitesmoke;
      border-radius: 1rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
      opacity: 0.6;
      transition: all 0.5s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
