.allProductList {
  background: linear-gradient(to right, #2980b9, #2c3e50);
  padding: 1rem;

  .searchBar {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }

  .productList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
    }
  }
}
