.infoUser {
  width: 100vw / 2;
  height: 40vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;

  article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .userAvatar {
      img {
        border: 2px solid black;
        border-radius: 1rem;
        width: 30rem;
        height: 30rem;
        margin: 1rem;
      }
    }

    .details {
      h1 {
        margin: 1rem;
        font-size: 10rem;
        font-weight: bold;
      }
      h2 {
        margin: 1rem;
        font-size: 3rem;
      }
    }
    .description {
      max-width: 40rem;
      margin: 1rem;
      font-size: 3rem;
    
      .title {
          text-decoration: underline;
          margin: 3rem 0;
      }
    }

    // button {
    //     margin: 1rem;
    // }
  }
}

.lowPart {
  .collection {
    border: 1px solid purple;
    text-align: center;
    overflow: scroll;
    height: 50%;
    ul {
      display: flex;

      li {
        margin: 2rem;
        list-style-type: none;
      }
    }
  }

  .statistics {
    border: 1px solid steelblue;
  }
}
